{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Start {{user}} {% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/css/faq.css' %}">{% endblock %}

{% block content %}
<div id="wrapper" class="container">

	<h2>What we need you to do</h2>

	<p>
	We produce speech recognition systems.
	These systems will interact with callers and attempt to understand them.
	They must be tested using real information produced by real people.
	Your job is to help us transcribe a large amount of interactions between the caller and the system.
	When transcription is complete, a speech scientist will build a system and test it using your work.
	The scientist will rarely listen to the audio files.
	He/she will instead read your transcription and compare it to the result that the system produces.
	This helps him/her quickly find the source of a problem with the speech system.
	</p>

	<p>
	We have a number of conventions that describe the transcription more completely to help him/her do this.
	For example, let's say that you listen to an audio file and transcribe it as "help me with something else [noise]".
	The speech system, meanwhile, thinks that the noise is speech and transcribes the audio incorrectly as "help me with something else delivery".
	When the scientist compares the two results, he/she sees:
	<ul>
	<li>TRANSCRIPTION: help me with something else [noise]</li>
	<li>SYSTEM RESULT: help me with something else delivery</li>
	</ul>
	This makes the problem obvious. The scientist can then change the speech system to make it more accurate.
	</p>

	<p>
	Normally, we actually run the basic version of the speech system first.
	It is often faster for you to correct its guesses rather than type everything out yourself.
	So, if the system has correctly transcribed our example as:
	"help me with something else"
	You do not then need to add [noise] at the end.
	There is a noise, but the system has correctly ignored it, so we don't need to do anything about it.
	The system can usually only recognise one key idea (maybe two) in an interaction.
	For example, it might expect a list of numbers in a particular interaction, so it will transcribe "two two one four" correctly.
	However, it will almost never cope with "two two one [hesitation] oh sorry that's wrong it's two three one four".
	You should not transcribe an interaction like this.
	It is too complex.
	Write [skipped] and move to the next one.
	A good rule of thumb is that if the caller is explaining more than two ideas, the interaction should be skipped.
	In this example above, there were three "ideas": A number sequence, an explanation, and another number sequence.
	However, you should transcribe "check on a new claim existing claim". There are only two ideas here.
	</p>

	<h2>Things that might bother you</h2>
	<ol>
		<li>
			<h3>Transcription can be boring.</h3>
			<p>We recommend using tomato-timer.com and setting the timer to 5 or 10 minutes. Then take a 1 minute break. Experiment until you find a working pattern that is comfortable that you can maintain for long periods of time. Every so often you should stand up and walk around the room. It's much, much better to produce a consistent rate of output than to do mad dashes and exhaust yourself.</p>
		</li>
		<li>
			<h3>Ergonomics</h3>
			<p>A good working position is essential. You should not be hunched over your screen. Ideally, your screen should be raised to eye height and you should use an external keyboard (£10-15) to type with. A gel-pad wrist rest (£20-25) may make you more comfortable. You should have room to stretch out your legs and lean against the back of your chair.</p>
		</li>
		<li>
			<h3>Swearing/Anger</h3>
			<p>Sometimes the people who call into a speech system are angry (or become angry when using the system). They might swear and be generally rude and aggressive. Even though you know it is not directed at you personally, this can affect your mood or make you uncomfortable. Unfortunately, if they are talking directly to the system, this must still be transcribed. If it makes it easier, think of how a customer service representative must maintain an even temper when dealing with many clients in many different moods. Deal with the difficult customer, then take a short break.</p>
		</li>
	</ol>



	<h2>Examples of using tags</h2>
	We call the notes in square brackets "tags".
	<ul>
		<li>[background noise] = continous non-speech noise.</li>
		<li>[skipped] = This interaction is too complex to be worth transcribing. The system will never understand it.</li>
		<li>[prompt] = The audio contains some or all of a speech system prompt. A prompt is anything the system says to a caller, e.g. "Please say your account number".</li>
	</ul>

	<h2>Rules of thumb</h2>

	<ol>
		<li>
			<h3>Caller says "dunno" instead of "don't know".</h3>
			<p>
					Transcribe this as "dunno". Speech systems cope with these contractions: dunno, gonna, wanna.
					However, you should transcribe "don wanna" as "don't [mispronunciation] wanna". The system won't understand new contractions. It only copes with the contractions that someone has programmed into it.
			</p>
		</li>
		<li>
			<h3>The system transcribes the noise of a caller breathing as [hesitation].</h3>
			<p>
				Normally, I would put [breath_noise], if I were transcribing it properly.
				Don't correct this. If the scientist can see that something happened there, it's not worth your time to make this perfectly accurate.
			</p>
		</li>
		<li>
			<h3>Someone (who is not the caller) is speaking during most or all of the interaction.</h3>
			<p>
				Mark this as [side speech], not [background noise]. For the system, speech is very different to a steady background noise.
			</p>
		</li>
		<li>
			<h3>When should I use [fragment] vs [hesitation]?</h3>
			<p>
				The audio "ad advisor" can be transcribed as either "[hesitation] advisor" or "advisor [fragment] advisor". The reason for this is that the hesitation/fragment bit is only one syllable. <br>
				The audio "umm advisor" should be transcribed as "[hesitation] advisor". <br>
				The audio "advi advisor" should be transcribed as "advisor [fragment] advisor". Here, the caller said more than one syllable of the word before stopping, so this is a fragment.
			</p>
		</li>
	</ol>

	<h2>Minor issues</h2>

	<ol>
		<li>
			<h3>The speech system transcribes "thankyou" as a single word.</h3>
			<p>
				Correct this to "thank you".
			</p>
		</li>
		<li>
			<h3>The speech system generates "good bye" for "goodbye".</h3>
			<p>
				Correct this to "goodbye".
			</p>
		</li>
		<li>
			<h3>Sometimes the system puts [hesitation] for a one syllable fragment.</h3>
			<p>
				E.g. it transcribes "hel help me with something else" as "[hesitation] help me with something else".
				Should I correct this to "help [fragment] help me with something else"?
				Don't correct this.
				The line between [hesitation] and [fragment] is fuzzy if it's only one syllable.
			</p>
		</li>
		<li>
			<h3>How should I mark telephone dialling/calling tones?</h3>
			<p>
				[dtmf]
			</p>
		</li>
		<li>
			<h3>The caller says "I'm alright". Should I transcribe this as "I'm alright" or "I'm all right"?</h3>
			<p>
				Use "alright".
			</p>
		</li>
		<li>
			<h3>Should I use "ok" or "okay"?</h3>
			<p>
				"ok", because it's shorter.
			</p>
		</li>
		<li>
			<h3>The caller says "cos" for "because". How should I transcribe this?</h3>
			<p>
				"Because [mispronunciation]". From the system's point of view, this should be a mispronunciation, because too much of the word has been changed.
			</p>
		</li>
		<li>
			<h3>When I use the tilde ~ to show that a word has been cut off (at the start or end of the audio), is it ok to leave a space between the tilde and the word? For example, if the original audio is "help me with some", should I put "help me with something ~"?</h3>
			<p>
				Yes. A space is fine.
			</p>
		</li>
		<li>
			<h3>The caller says "I'll call ya". How should I transcribe this?</h3>
			<p>
				"I'll call you [mispronunciation]".
			</p>
		</li>
		<li>
			<h3>The caller says "mm-hm" or "uh-huh".</h3>
			<p>
				Mark these as [hesitation]. They do actually mean "yes", but the system is never going to able to distinguish these reliably from normal hesitations.
			</p>
		</li>
		<li>
			<h3>The caller says "Yeah that'll do". Should I put "Yeah that will [mispronunciation] do"?</h3>
			<p>
				No. The system can cope with standard grammatical contractions such as "that'll" for "that will".
			</p>
		</li>
		<li>
			<h3>Should I use hyphens? For example, when a caller says "thirty-first of april" or "twenty-second of may"?</h3>
			<p>
				No. Don't use hyphens. For the system programmer, it doesn't help and sometimes hinders.
			</p>
		</li>
		<li>
			<h3>Should I bother to correct "thirteen" to "thirteenth"?</h3>
			<p>
				No. It's a tiny change in pronunciation, and the meaning of the two words is almost the same, in the context of e.g. caller saying dates such as "thirteen of november".<br>
				"six" for "sixth".<br>
				"thirty" to "thirtieth".<br>
				"twelve" to "twelfth". bigger shift in pronunciation, but this is still ok.
			</p>
		</li>
		<li>
			<h3>Should I correct "nuffin" to "nothing [mispronunciation]"?</h3>
			<p>
				yes.
			</p>
		</li>
	</ol>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</div>
{% endblock %}
