{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	{% if clients %}
		Transcription rules for all clients
	{% else %}
		Transcription rules for {{client}}
	{% endif %}
{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/css/faq.css' %}">{% endblock %}

{% block content %}
<div id="wrapper" class="container">
	{% if client %}
		<h1>Rules for {{client.name}}</h1>
		<div class="client-markdown">
			{% if client.display_ruleset %}
				{{client.display_ruleset}}
			{% else %}
				No specific ruleset for this client.
			{% endif %}
		</div>
	{% endif %}
	<h1>Default FAQ</h1>
	<div class="client-markdown">
		{{default_faq}}
	</div>
</div>
{% endblock %}

{% block post_main_script %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.3.0/showdown.min.js"></script>
	<script type="text/javascript">
		var converter = new showdown.Converter();
		$('.client-markdown').each(function () {
			var convertedHtml = converter.makeHtml($(this).html());
			$(this).html(convertedHtml);
		});
	</script>
{% endblock %}
