{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Transcription rules for {{client}} {% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/css/faq.css' %}">{% endblock %}

{% block content %}
<div id="wrapper" class="container">
	{% if clients %}
		{% for client in clients %}
			<xmp theme="readable" style="display:none;">
			{{client.display_ruleset}}
			</xmp>
		{% endfor %}
	{% else %}
		<xmp theme="readable" style="display:none;">
		{{client.display_ruleset}}
		</xmp>
	{% endif %}
	<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</div>
{% endblock %}
