{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Start {{user}} {% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'pages/css/start.css' %}">{% endblock %}

{% block content %}
<div id="wrapper" class="container">
		<h3>Details</h3>
		<p>User: {{ user.email }}</p>
		<p>Completed transcriptions: {{ transcriptions_done_by_user }}</p>
		<p>Remaining transcriptions: {{ remaining_transcriptions }}</p>
		<h3>Active jobs</h3>
		<div id="job-list-active" class="list-group">
				{% for job in active_jobs %}
				<a href="/transcription/{{job.id_token}}" class="list-group-item">#{{forloop.counter}}<span class="right-label">{{job.active_transcriptions}} of {{job.transcriptions.all|length}}</span></a>
				{% empty %}
				<a href="/new/" class="list-group-item">Start a new job<span class="right-label"></span></a>
				{% endfor %}
		</div>
</div>
{% endblock %}

{% block post_main_script %} <script src="{% static 'pages/js/start.js' %}"></script> {% endblock %}
